#root {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #5e6472;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: #525660 transparent;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #525660;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.target {
  font-kerning: none;
}

.scale-09:active {
  transform: scale(0.9) !important;
}
