#root {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html,
body {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.target {
  font-kerning: none;
}
.icons:active {
  transform: scale(0.9) !important;
}
